DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/uangku
DATABASE_URL_TEST=postgresql+psycopg://postgres:postgres@localhost:5432/uangku_test
SECRET_KEY=ganti-dengan-string-acak-min-32-karakter
HTTPS_ONLY=false
BACKEND_URL=http://localhost:8000
APP_ENV=development
